<!--
  1) display list of items (image & basic info)
  2) display a button to edit
  3) display a button to delete
 -->

 <h1>My Gallery</h1>

<table>
  <tr>
    <th>Object</th>
    <th>Object Information</th>
    <th>I've seen that!</th>
    <th>Remove from My Gallery</th>
  </tr>

  <tr *ngFor="let item of myGalleryList">
    <td> <img src="{{ item.primaryImage }}" style="width:auto;height:125px;"> </td>
    <td> {{ item.artistDisplayName }}, {{item.title}} </td>  
    <td></td><button (click)="onMarkAsVisited()">Mark as Visited</button>
    <td><button (click)="deleteGalleryItem(item.entryId)">Remove From My Gallery</button>

  </tr>

</table>
