<h1>Welcome to Mappsterpiece!</h1>
<p>Are you a tourist in NYC with only 1 hour to spare at the Met? <br />
Need to decompress on a lunch break? <br />
Interested in museums, but just not sure where to start? <br />
Want to keep your kids engaged, but not sure how?</p>
<p></p>
<p>We're Mappsterpiece. We'll show you artworks, you'll let us know if you like them or not,
  and then we'll tell you which wing of the museum you should visit.</p>

<p>To get started, please select which type of art you are most interested in seeing today:</p>


<br />
<br />

<!-- dropdown for search term - sends the value to submitSearchTerm method
<select (change)="submitSearchTerm($event)">
  <option value="default">select</option>
  <option *ngFor="let item of searchTermArray" [value]="item">{{ item }}</option>

</select>
<br />
<br />

<div *ngIf="display">
  <app-met-app [listBySearchTerm]="listBySearchTerm" ></app-met-app>
</div> -->

<app-met-app></app-met-app>

