
<!-- dropdown for search term - sends the selection value to submitSearchTerm method -->
<select (change)="submitSearchTerm($event)">
  <option value="default">-----</option>
  <option *ngFor="let item of searchTermArray" [value]="item">{{ item }}</option>
</select>

<!-- select button  -->
<!-- <button (click)="onSelect()">select</button> -->
<button (click)="onSelect()">select</button>

<br />
<br />
<br />

<!-- object information display -->
<img src="{{ metObj.primaryImage }}" style="width:400px;height:auto;">


<div *ngIf="metObj.artistDisplayName!" >
  <div>
    <b>{{ metObj.artistDisplayName }},</b> {{ metObj.artistNationality}}, {{metObj.artistBeginDate}}-{{metObj.artistEndDate}}
  </div>
</div>
<br />
<div>
  <b>{{ metObj.title }}</b>, {{metObj.objectDate }} <br />
  {{metObj.medium}}
</div>
<br />

<!-- like/dislike buttons -->
<button (click)="onLike()">oOoOo</button>
<button (click)="onDislike()">Not for me</button>


<br />
<br />
<br />
<br />
