
<!-- dropdown for search term - sends the selection value to submitSearchTerm method -->
<select (change)="submitSearchTerm($event)">
  <option value="default">select</option>
  <option *ngFor="let item of searchTermArray" [value]="item">{{ item }}</option>
</select>

<!-- select button  -->
<button (click)="onSelect()">select</button>

<br />
<br />
<br />

<!-- object information display -->
<img src="{{ metObj.primaryImage }}" style="width:500px;height:auto;">

<p style="font-weight: bold;">{{ metObj.title }}</p>
<p>artist name: {{ metObj.artistDisplayName }} </p>
<p>artist bio: {{ metObj.artistDisplayBio }} </p>


<!-- like/dislike buttons -->
<button (click)="onLike()">oOoOo</button>
<button (click)="onDislike()">Not for me</button>


<br />
<br />
<br />
<br />
