<h1>Welcome to Mappsterpiece!</h1>
<h3>Your guide to the Metropolitan Museum of Art</h3>
<p>Are you a tourist in NYC with only 1 hour to spare? <br />
Work nearby and need to decompress on a lunch break? <br />
Interested in museums, but never been to one? <br />
Want to keep your kids engaged at the museum, but not sure how?<br />
Just don't know where to start your visit because the Met is the largest museum in the US?
</p>
<p></p>
<p>We're Mappsterpiece. We'll show you artworks, you'll let us know if you like them or not,
  and then we'll tell you which galleries in the museum may be interesting to you. We know museum fatigue is a real thing,
especially if you don't have a plan. </p>

<p>To get started, please select which type of art you are most interested in seeing today:</p>

<br />
<br />

<app-met-app></app-met-app>